*.o
*~
~.swp
*.swp
kmeans01.dat
kmeans02.dat
kmeans03.dat
kmeans04.dat
experiment/
*.membership
*.cluster_centres
*.xml
matrix_mul/omp/matrix_mul
matrix_mul/sequential/matrix_mul
*.exe
*.out
omp_main
seq_main
*.sh
